
<div class="container">
    <div class="row">
        <div class="col-md-12 col-xs-12">
            <div class=" card">
                <div class="card-header row">
                    <div class="col-6">
                        <div class="title-header">Publicações
                            <button routerLink="nova"class="btn btn-outline-info btn-sm">Nova Publicação</button>  
                            <img *ngIf="statusLoading"  src="./../../../assets//animate/loading.svg" alt="">
                        </div>
                    </div>
                      

                        <div class="search form-inline col-6">
                            <div class="form-group">
                                <input type="text" name="search" [(ngModel)]="search" class="form-control sm">
                            
                               
                            </div>

                            <button (click)="searchPost()" class="btn btn-info">Buscar Públicação</button>
                           
                        </div>
                 
                    
                </div>
    
                <div class="card-body">

                    
                    <table  *ngIf="!statusLoading" class="table table-hover">
                        <thead>
                          <tr>
                            <th scope="col">#</th>
                            <th scope="col">Titulo</th>
                            <th scope="col">Opções</th>
                     
                          </tr>
                        </thead>
                        <tbody>
                                <tr *ngFor="let post of posts">
                                    <td>{{post.id}}</td>
                                    <td>{{post.titulo}}</td>
                                    <td>
                                        <button (click)="deletePost(post.id)" class="btn btn-sm btn-danger">Excluir</button>
                                        <button routerLink="editar/{{post.id}}" class="btn btn-sm btn-warning">Editar</button>
                                    </td>
                                </tr>
                        </tbody>
                      </table>
                </div>
    
                
            </div>
    
        </div>
    
    </div>
</div>

<button class="btn btn-success" (click)="loadingGetData()">Recarregar</button>