
<div class="container">
    <div class="row">
        <div class="col-md-12 col-xs-12">
            <div class=" card">
                <div class="card-header">
                        <div class="title-header">Publicações
                            <button routerLink="nova"class="btn btn-outline-info btn-sm">Nova Publicação</button>  
           
                        </div>
                 
                    
                </div>
    
                <div class="card-body">
                    <table class="table table-hover">
                        <thead>
                          <tr>
                            <th scope="col">#</th>
                            <th scope="col">Titulo</th>
                            <th scope="col">Opções</th>
                     
                          </tr>
                        </thead>
                        <tbody>
                                <tr *ngFor="let post of posts">
                                    <td>{{post.id}}</td>
                                    <td>{{post.titulo}}</td>
                                    <td>
                                        <button (click)="deletePost(post.id)" class="btn btn-sm btn-danger">Excluir</button>
                                        <button routerLink="editar/{{post.id}}" class="btn btn-sm btn-warning">Editar</button>
                                    </td>
                                </tr>
                        </tbody>
                      </table>
                </div>
    
                
            </div>
    
        </div>
    
    </div>
</div>