

<div class="container">
    <div class="row">

        <div class="col-md-4">
            <img src="https://abrilexame.files.wordpress.com/2018/10/8dicas8.jpg?quality=70&strip=info&w=1000&h=1000" class="responsive-img" alt="">
        </div>

        <div class="col-md-8">
            <h1>hTales Morais</h1>
            <h3>Configuração do E-mail</h3>
            <div class="configEmail">
                <div class="form-group">
                    <input type="text" class="form-control">
                </div>

                <div class="form-group">
                    <input type="text" class="form-control">
                </div>
                <div class="form-group">
                    <input type="text" class="form-control">
                </div>
                <div class="form-group">
                    <input type="text" class="form-control">
                </div>
                <div class="form-group">
                    <input type="text" class="form-control">
                </div>
            </div>
        </div>

    </div>
</div>
